<IfModule mod_headers.c>
    Header always unset X-Powered-By
    Header always set X-Powered-By "Ceymikey"
</IfModule>

RewriteEngine on

# Redirect permanent "/" "/pages/admin/ceymikey"
RedirectMatch permanent "^/$" "/pages/admin/ceymikey"

# RewriteRule ^index$ /ceymikey [R=301,L]  # Uncomment this line if needed

# RewriteRule ^$ /ceymikey [L,R=301]  # Uncomment this line if needed

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

ErrorDocument 404 404.html
