/* Importing external stylesheets should be done like this */
/*@import url();*/

body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-out.visible {
  opacity: 1;
}

.header {
  text-align: center;
}

.header-text {
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.header-text:hover {
  color: rgb(18, 120, 255);
}

.nav-text {
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  text-decoration: none;
  color: rgb(18, 120, 255);
}

.header-buttons {
  text-align: center;
  background-color: transparent;
}

.header-buttons a {
  margin-right: 10px;
  border: 1px solid rgb(18, 120, 255);
  padding: 14px;
  background-color: transparent;
  color: rgb(18, 120, 255);
}

.header-buttons a:hover {
  transition: background-color, color 0.7s ease, opacity 1s ease;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.bar-header {
  display: flex;
  background-color: #202020;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.bar-left h1 {
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.bar-right {
  display: flex;
  gap: 15px;
  margin-right: auto;
  margin-left: 310px;
  padding: 16px;
}

.bar-right-button {
  padding: 16px;
  width: 150px;
  margin-left: 110px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(14, 92, 194);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bar-right-buttons {
  text-align: center;
  background-color: transparent;
}

.bar-right-buttons a {
  margin-right: 10px;
  border: 1px solid rgb(18, 120, 255);
  padding: 14px;
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(18, 120, 255);
  border-radius: 0.375rem;
}

.bar-right-buttons a:hover {
  transition: background-color 0.5s ease, opacity 0.9s ease;
  background-color: transparent;
}

/* -----Buttons START----- */

.button {
  display: inline-block;
  padding: 16px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(14, 92, 194);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(13, 79, 165);
}

.block-button {
  background-color: transparent;
  display: inline-block;
  padding: 16px;
  width: 150px;
  padding-right: 38px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.block-button a {
  margin-right: 10px;
  border: 1px solid rgb(18, 120, 255);
  padding: 14px;
  background-color: rgb(18, 120, 255);
  color: white;
}

.block-button a:hover {
  transition: background-color, color 0.7s ease, opacity 1s ease;
  background-color: rgb(13, 79, 165);
  color: white;
  border: 1px solid rgb(18, 120, 255);
}

/* -----Buttons END----- */

.space {
  height: 150px;
}

.main-content {
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
  font-weight: bold;
  max-width: 11100px;
}

/* TEXT STYLES */

.content-title {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
}

.highlight-text {
  color: rgb(18, 120, 255);
}

.block-text {
  color: #ffffff;
  padding: 4px;
  border-radius: 0.3rem;
  background-color: rgb(18, 120, 255);
}

.content-text {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/* TEXT STYLES END */

.content-container {
  max-width: 730px;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  background-color: transparent;
}

.buttons a {
  margin-right: 10px;
  border: 1px solid rgb(18, 120, 255);
  padding: 14px;
  background-color: rgb(18, 120, 255);
}

.buttons a:hover {
  transition: background-color 0.5s ease, opacity 0.9s ease;
  background-color: transparent;
}

.big-space {
  height: 270px;
}

.side-background {
  display: flex;
  background-color: #2e2e2e;
  padding: 16px;
  display: flex;
  width: 100%;
  height: 400px;
  box-shadow: #202020;
}

.side-text-big {
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 100px;
  margin-right: auto;
  margin: auto;
  width: 50%;
  padding: 10px;
  position: relative;
}

.side-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.footer-background {
  background-color: #272727;
  flex: 222px;
}

.content-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.middle-content {
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  column-gap: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.about-container2 {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  column-gap: 100px;
  justify-content: space-between;
  padding: 25px;
}

.image-content,
.image-content2,
.image-content3 {
  width: 200px;
  height: 280px;
  border: 2px solid rgba(155, 154, 154, 0.644);
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.image-content:hover,
.image-content2:hover,
.image-content3:hover {
  border: 2px solid rgb(172, 172, 172);
  transition: all 0.8s;
  cursor: pointer;
  transform: scale(1.1);
}

section {
  display: grid;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.footer {
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  padding: 1px;
  text-align: center;
}

.footer-text {
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 111;
  color: #999999;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.footer-text:hover {
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 111;
  color: rgb(18, 120, 255);
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 0;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
}

/* Scroller CSS */

.scroller {
  max-width: 1140px;
  margin-left: 390px;
  margin: auto;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  transform: scale(1);
  transition: transform 2s ease;
}

.scroller:hover {
  transform: scale(1.125);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
}

html {
  color-scheme: dark;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 7rem;
  background: var(--clr-primary-400);
  border-radius: 1rem;
}
