body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.big-space {
    height: 270px;
}

.main-content {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

.content-title {
    font-size: 39px;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight-text {
    color: rgb(18, 120, 255);
}

.content-text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-container {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.header-text {
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    text-align: left;
    text-decoration: none;
}

.header-text:hover {
    color: rgb(18, 120, 255);
}

.nav-text {
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    text-decoration: none;
    color: rgb(18, 120, 255);
}

.bar-header {
    background-color: #272727;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.bar-left h1 {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bar-right {
    display: flex;
    gap: 15px;
    margin-right: auto;
    margin-left: 450px;
    padding: 16px;
}

.bar-right-button {
    padding: 16px;
    width: 150px;
    margin-left: 110px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(14, 92, 194);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bar-right-buttons {
    text-align: center;
    background-color: transparent;
}

.bar-right-buttons a {
    margin-right: 10px;
    border: 1px solid rgb(18, 120, 255);
    padding: 14px;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(18, 120, 255);
    border-radius: 0.375rem;
}

.bar-right-buttons a:hover {
    transition: background-color 0.5s ease, opacity 0.9s ease;
    background-color: transparent;
}

.no-deco-default {
    text-decoration: none;
}

.no-deco-default:hover {
    text-decoration: none;
    font-weight: bold;
}